<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StuBot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <StuBot.My.MySettings>
            <setting name="infocommandi" serializeAs="String">
                <value>---------- Basic Option ------------
/info - info client system
/setstartup - set startup
/unsetstartup - unset startup
/spc - set process as critical
/unspc - set process as normal
/nosleep - prevent pc sleep
/end - terminate client
/delnxbt - delete it on next boot
/unistall - unistall client
----------- Advanced Option ---
/mbx/message - messagebox
/exec/exebase64 - Memory LoadExe
/execurl/.exe/URL - Load from URL
----------- End Info ------------------
/help - show this message

+----------------------------------------------+
 |  Coded by Hworange Rival       |
+----------------------------------------------+   </value>
            </setting>
        </StuBot.My.MySettings>
    </userSettings>
</configuration>